/** Basic Styling **/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: grey;
 color: white;
 -webkit-font-smoothing: antialiased;
 display: flex;
}

body, 
input, 
button {
 font-size: 62.5%;
 font-family: 'Helvetica';
}

button {
 cursor: pointer;
}

/** NavBar Styling **/
#navbar {
  width: 40vw;
}
/** Heading Stying **/

#main-heading h1 {
  font-size: 4.5rem;
}

.nav-container {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column; 
}

.nav-container .nav-link {
  display: inline-block;
  width: 15vw;
  height: 10vh;
  margin: 1vh;
}
